{% extends "public/layout.html" %}

{% block breadcrumb %} 
    工单系统 / 我的工单
{% endblock %}

{% block body %} 
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul id="myTabs" class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#my_workform_list" id="my_workform_list_tab" role="tab" data-toggle="tab" aria-controls="my_workform" aria-expanded="true">我 "发出/待审核" 的工单</a>
        </li>
        <li role="presentation">
            <a href="#my_audit_workform_list" role="tab" id="my_audit_workform_list_tab" data-toggle="tab" aria-controls="my_audit_workform" aria-expanded="false">我 "审核过" 的工单</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="my_workform_list" aria-labelledby="home-tab">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover">
                    <caption style="padding-top: 0px;padding-bottom: 10px;">
                        <div>
                            <form class="form-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="float:right">搜索</button>
                                <div class="form-group" style="text-align:right;float: right;margin-right: 10px;">
                                    <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="主题 | 模块名 | 详情">
                                </div>
                            </form> 
                        </div>
                    </caption>  
                    <thead>
                        <tr>
                            <th class="text-center">主题</th>
                            <th class="text-center">紧急程度</th>
                            <th class="text-center">类型</th>
                            <th class="text-center">模块名称</th>
                            <th class="text-center">是否有SQL</th>
                            <th class="text-center">工单状态</th>
                            <th class="text-center">流程状态</th>
                            <th class="text-center">申请人</th>
                            <th class="text-center">创建时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in object_list %}
                        <tr class="gradeX">
                            <td class="text-center" style="vertical-align: middle"><strong>{{ pub.title|truncatechars:10 }}</strong></td>
                            <td class="text-center" style="vertical-align: middle">
                                {% for i in level_range %}
                                    {% if i >= pub.level %}
                                        <span class="fa fa-star fa-fw" style="color: #F00"></span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center" style="vertical-align: middle">{{ pub.type.cn_name }}</td>
                            <td class="text-center" style="vertical-align: middle">{{ pub.module_name }}</td>

                            {% if pub.sql == 'yes' %}
                                <td class="text-center" style="vertical-align: middle"><span class="badge label-primary">{{ pub.get_sql_display }}</span></td>
                            {% else %}
                                <td class="text-center" style="vertical-align: middle"><span class="badge label-default">{{ pub.get_sql_display }}</span></td>
                            {% endif %}

                            {% if pub.status == '0' %}
                                <td class="text-center"><span class="badge label-primary">{{ pub.get_status_display }}</span></td>
                            {% elif pub.status == '1' %}
                                <td class="text-center"><span class="badge label-success">{{ pub.get_status_display }}</span></td>
                            {% elif pub.status == '2' %}
                                <td class="text-center"><span class="badge label-warnning">{{ pub.get_status_display }}</span></td>
                            {% else %}
                                <td class="text-center"><span class="badge label-danger">{{ pub.get_status_display }}</span></td>
                            {% endif %}

                            <td class="text-center" style="vertical-align: middle">{{ pub.process_step.step }}</td>
                            <td class="text-center" style="vertical-align: middle">{{ pub.applicant }}</td>
                            <td class="text-center" style="vertical-align: middle">{{ pub.create_time|date:"Y-m-d H:i:s" }}</td>
                            <td class="text-center" style="vertical-align: middle">
                                <button data-id="{{ pub.id }}" class="btn btn-sm btn-info workform_detail">详情</button>
                                <button data-id="{{ pub.id }}" class="btn btn-sm btn-primary process_trace">流程跟踪</button>
                                {% if user in pub.approver_can.all %}
                                    <button data-id="{{ pub.id }}" process-id="{{ pub.process_step_id }}" class="btn btn-sm btn-warning process_approval">审批</button>
                                {% endif %}
                                {% if pub.status == '0' and user.userextend.cn_name == pub.applicant %}
                                    <button data-id="{{ pub.id }}" data-del="{{ pub.title }}" class="btn btn-sm btn-danger del-btn">删除</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- 列表分页 -->
                <div class="text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">总页数: {{ page_obj.paginator.num_pages }}</a></li>

                        {% if page_obj.number != 1 %}
                            <li><a href={% url "my_workform_list" %}?page=1{{ search_uri }}>首页</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">首页</a></li>
                        {% endif %}

                        {% if page_obj.has_previous %}
                            <li><a href={% url "workform_list" %}?page={{ page_obj.previous_page_number }}{{ search_uri }}>上一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">上一页</a></li>
                        {% endif %}

                        {% for page in page_range %}
                            {% if page == page_obj.number %}
                                <li class="active"><a href={% url "my_workform_list" %}?page={{ page }}{{ search_uri }}>{{ page }}</a></li>
                            {% else %}
                                <li><a href={% url "my_workform_list" %}?page={{ page }}{{ search_uri }}>{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href={% url "my_workform_list" %}?page={{ page_obj.next_page_number }}{{ search_uri }}>下一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">下一页</a></li>
                        {% endif %}
            
                        {% if page_obj.number != page_obj.paginator.num_pages %}
                            <li><a href={% url "my_workform_list" %}?page={{ page_obj.paginator.num_pages }}{{ search_uri }}>末页</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">末页</a></li>
                        {% endif %}

                        <li class="disabled"><a href="#">总条数: {{ page_obj.paginator.count }}</a></li>
                    </ul>
                </div>
                <!-- 分页结束 -->    

                <!-- 删除模态框 -->
                <div class="modal fade" id='DeleteModal'>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">删除</h4>
                            </div>
                            <div class="modal-body">
                                <p id="data-del"></p>
                                <p style="color:red"><b>你确认要删除吗?</b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-warning del-sure" data-id=''>确认</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="my_audit_workform_list" aria-labelledby="profile-tab">
            <br>
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover" id="my_audit_table">
                    <thead>
                        <tr>
                            <th class="text-center">主题</th>
                            <th class="text-center">紧急程度</th>
                            <th class="text-center">类型</th>
                            <th class="text-center">模块名称</th>
                            <th class="text-center">是否有SQL</th>
                            <th class="text-center">工单状态</th>
                            <th class="text-center">流程状态</th>
                            <th class="text-center">申请人</th>
                            <th class="text-center">创建时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="my_audit_list_tbody">
                    </tbody>
                </table> 
            </div>
        </div>

        <!-- 详情模态框 -->
        <div class="modal fade"  id ="MyWorkFormDetailModal">   
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">工单信息</h4>
                    </div>
                    <div class="modal-body">
                        <form id="MyWorkFormDetailForm" class="Formvalid form-horizontal nice-validator n-yellow" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="hidden" name="id" id='id'>

                            <div class="form-inline row">  
                                <div class="form-group col-sm-12">
                                    <label for="title" style="width:15%" class="control-label text-right">工单标题 <span class="red-fonts">*&nbsp</span></label>
                                    <input id='title' name="title" style="width: 79%;" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <label for="name" style="width:30%" class="control-label text-right ">工单类型 <span class="red-fonts ">*&nbsp</span></label>
                                    &nbsp<input id='type' name="type" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="level" style="width:30%" class="control-label text-right">紧急程度 &nbsp</label>
                                    <input id='level' name="level" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <label for="applicant" style="width:30%" class="control-label text-right">申请人 <span class="red-fonts">*&nbsp</span></label>
                                    &nbsp<input id="applicant" name="applicant" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="status" style="width:30%" class="control-label text-right">工单状态 &nbsp</label>
                                    <input id="status" name="status" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">  
                                <div class="form-group col-sm-12">
                                    <label for="module_name" style="width:15%" class="control-label text-right">模块名称 <span class="red-fonts">*&nbsp</span></label>
                                    <input id='module_name' name="module_name" style="width: 79%;" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">  
                                <div class="form-group col-sm-12">
                                    <label for="detail" style="width:15%" class="control-label text-right">工单说明 <span class="red-fonts">*&nbsp</span></label>
                                    <textarea id='detail' name="detail" style="width: 79%;" class="form-control" aria-required="true" rows="5"readonly>
                                    </textarea>
                                </div>
                            </div>
                
                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row" id="sql_detail_div">
                                <div class="form-group col-sm-12">
                                    <label for="sql_detail" style="width:15%" class="control-label text-right">SQL语句 &nbsp</label>
                                    <textarea id="sql_detail" name="sql_detail" style="width:79%" class="form-control" aria-required="true" rows="5" readonly>
                                    </textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row" id="sql_file_url_div">
                                <div class="form-group col-sm-12">
                                    <label for="sql_file_url" style="width:15%" class="control-label text-right">SQL附件 &nbsp</label>
                                    <div style="width:79%" id="sql_file_url">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <label for="create_time" style="width:30%" class="control-label text-right">创建时间 &nbsp</label>
                                    &nbsp<input id='create_time' name="create_time" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="complete_time" style="width:30%" class="control-label text-right">完成时间 &nbsp</label>
                                    <input id='complete_time' name="complete_time" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary exit-btn" data-dismiss="modal">退出</button>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 审批模态框 -->
        <div class="modal fade"  id ="MyApprovalWorkFormModal">   
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h2 class="modal-title text-center" id="approval-head"></h2>
                    </div>
                    <div class="modal-body">
                        <form id="MyApprovalWorkForm" class="Formvalid form-horizontal nice-validator n-yellow" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="hidden" name="id" id='id_approval'>
                            <input type="hidden" name="process_step_id" id='step_id_approval'>

                            <div class="form-inline row">  
                                <div class="form-group col-sm-12">
                                    <label for="title" style="width:15%" class="control-label text-right">工单标题 <span class="red-fonts">*&nbsp</span></label>
                                    <input id='title_approval' name="title" style="width: 79%;" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <label for="name" style="width:30%" class="control-label text-right ">工单类型 <span class="red-fonts ">*&nbsp</span></label>
                                    &nbsp<input id='type_approval' name="type" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="level" style="width:30%" class="control-label text-right">紧急程度 &nbsp</label>
                                    <input id='level_approval' name="level" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <label for="applicant" style="width:30%" class="control-label text-right">申请人 <span class="red-fonts">*&nbsp</span></label>
                                    &nbsp<input id="applicant_approval" name="applicant" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="status" style="width:30%" class="control-label text-right">流程状态 &nbsp</label>
                                    <input id="status_approval" name="status" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">  
                                <div class="form-group col-sm-12">
                                    <label for="module_name" style="width:15%" class="control-label text-right">模块名称 <span class="red-fonts">*&nbsp</span></label>
                                    <input id='module_name_approval' name="module_name" style="width: 79%;" type="text" class="form-control" aria-required="true" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">  
                                <div class="form-group col-sm-12">
                                    <label for="detail" style="width:15%" class="control-label text-right">工单说明 <span class="red-fonts">*&nbsp</span></label>
                                    <textarea id='detail_approval' name="detail" style="width: 79%;" class="form-control" aria-required="true" rows="5" readonly>
                                    </textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" >审批结果 <span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    {% for k,v in approval_result.items %}
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="{{ k }}" name="result">{{ v }}</label>
                                        </div>
                                    </div>
                                    {% endfor %}        
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-12">
                                    <label for="approve_note" style="width:15%" class="control-label text-right">审批意见 <span class="red-fonts">*&nbsp</span></label>
                                    <textarea  name="approve_note" style="width: 79%;" class="form-control" aria-required="true" rows="5">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="approval_submit" class="btn btn-primary">提交</button>
                        <button class="btn btn-info" type="reset">重置</button>
                        <button class="btn btn-warning exit-btn" data-dismiss="modal">退出</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>
{% endblock %}

{% block js %}
<script>

$.getJSON("{% url 'my_approvaled_workform_list' %}",function(data){
    if(data.result==0){
        data = data.approvaled_workform_list
        var str = ''
        $.each(data,function(k,v){
            str += '<tr class="gradeX">'
            str += '<td class="text-center"><strong>'+v.title+'</strong></td>'
            str += '<td class="text-center">'+v.level+'</td>'
            str += '<td class="text-center">'+v.type_id+'</td>'
            str += '<td class="text-center">'+v.module_name+'</td>'
            str += '<td class="text-center">'+v.sql+'</td>'
            if(v.status == '0'){
                str += '<td class="text-center"><span class="badge label-primary">'+v.status+'</span></td>'
            }else if(v.status == '1'){
                str += '<td class="text-center"><span class="badge label-success">'+v.status+'</span></td>'
            }else if(v.status == '2'){
                str += '<td class="text-center"><span class="badge label-warning">'+v.status+'</span></td>' 
            }else{
                str += '<td class="text-center"><span class="badge label-danger">'+v.status+'</span></td>' 
            };
            str += '<td class="text-center">'+v.process+'</td>'
            str += '<td class="text-center">'+v.applicant+'</td>'
            str += '<td class="text-center">'+v.create_time+'</td>'
            str += '<td class="text-center">'
            str += '<button class="btn btn-sm btn-info workform_detail" style="margin-right:5px" data-id="'+v.id+'">详情</button>'
            str += '<button class="btn btn-sm btn-Primary process_trace" style="margin-right:5px" data-id="'+v.id+'">流程跟踪</button>' 
            str += '<button class="btn btn-sm btn-warning workform_audit" data-id="'+v.id+'">审核</button>' 
            str += '</td></tr>'
        });
        $("#my_audit_list_tbody").html(str)
        datatable_list()
    }else{
        return false
    }
});

<!--审批-->
$(document).on("click",".process_approval",function(){
    var id = $(this).attr("data-id")
    var process_id = $(this).attr("process-id")
    var url = "{% url 'workform_approval' %}?id="+id+"&process_id="+process_id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data.wf_info
            console.log(data)
            $("#id_approval").val(data.id)
            $("#step_id_approval").val(data.process_step_id)
            $("#title_approval").val(data.title)
            $("#detail_approval").val(data.detail)
            $("#type_approval").val(data.type)
            $("#module_name_approval").val(data.module_name)
            $("#level_approval").val(data.level)
            $("#approval-head").text(data.process)
            $("#status_approval").val(data.status)
            $("#applicant_approval").val(data.applicant)
            $("#MyApprovalWorkFormModal").modal("show")
        }else{
            swal("OH,My God",data.msg,"error")
        }
    })
});

$("#approval_submit").click(function(){
    var str = $("#MyApprovalWorkForm").serialize()
    var url = "{% url 'workform_approval' %}"
    $.post(url,str,function(data){
        if(data.result==0){
           $('#MyApprovalWorkFormModal').modal('hide')
           swal({
             title:"Good",
             text:data.msg,
             type:'success',
             confirmButtonText:"确定"
             },
             function(){
                location.reload()
           })
       }else{
            swal("OH,My God",data.msg,"error")
       }; 
    })
    return false
});

<!--详情-->

$(document).on("click",".workform_detail",function(){
    $("#sql_file_url_div").removeAttr('style')
    $("#sql_detail_div").removeAttr('style')
    $("#sql_file_url p").remove()
    var id = $(this).attr("data-id")
    var url = "{% url 'workform_info' %}?id="+id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data.wf_info
            $("#id").val(data.id)
            $("#title").val(data.title)
            $("#detail").val(data.detail)
            $("#type").val(data.type_id)
            $("#module_name").val(data.module_name)
            $("#level").val(data.level)
            $("#status").val(data.status)
            $("#applicant").val(data.applicant)
            $("#create_time").val(data.create_time)
            $("#complete_time").val(data.complete_time)
            if(data.sql=='yes'){
                if(data.sql_file_url){
                    var files=data.sql_file_url.split(';')
                    $.each(files,function(k,v){
                        var file_name_list=v.split('/')
                        $('#sql_file_url').append($("<p style='text-indent: 20%' />").html(file_name_list.pop() + "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp").append($("<a target='_blank' />").attr("href",v).text("预览")));
                    });
                }else{
                    $("#sql_file_url_div").attr('style','display:none')
                };

                if(data.sql_detail){
                    $("#sql_detail").val(data.sql_detail)
                }else{
                    $("#sql_detail_div").attr('style','display:none')
                };

            }else if(data.sql=='no'){
                $("#sql_file_url_div").attr('style','display:none')
                $("#sql_detail_div").attr('style','display:none')
            };
            $("#MyWorkFormDetailModal").modal("show")
        }else{
            swal("OH,My God",data.msg,"error")
        }
    });
});

<!--删除-->
$(".del-btn").click(function(){
    var cid = $(this).attr("data-id")
    var data = $(this).attr("data-del")
    $(".del-sure").attr('data-id',cid)
    $("#data-del").html(data)
    $("#DeleteModal").modal("show")
});

$(".del-sure").click(function(){
   var cid = $(this).attr('data-id')
   var url = "{% url 'cmdb_delete' %}"
   $('#DeleteModal').modal('hide')
   $.post(url,{"id": cid},function(data){
       if(data.result==0){
           swal({
             title:"Good",
             text:data.msg,
             type:'success',
             confirmButtonText:"确定"
             },
             function(){
                location.reload()
           })
       }else{
            swal("OH,My God",data.msg,"error")
       };
   });
   return false;
});

function datatable_list(){
  $("#my_audit_table").dataTable({
      "autoWidth":true,
      "bDestroy":true,
      "order": [[ 0, "asc" ]],
      "bStateSave": true,
      "sPaginationType": "full_numbers",
      "language":{
            "lengthMenu":"每页 _MENU_ 条记录",
            "zeroRecords":"没有找到记录",
            "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "sSearch": "搜索:",
            "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
            }
      }
  })
};

</script>

{% endblock %}

