{% extends "public/layout.html" %}

{% block breadcrumb %} 
工单系统 / <strong class="active">数据库工单</strong>
{% endblock %}

{% block body %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>填写SQL工单信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="SqlAddForm" enctype="multipart/form-data" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">主题<span class="red-fonts ">*</span></label>
                            <div class="col-sm-8">
                                <input id="title" name="title" placeholder="工单主题" type="text" class="form-control" aria-required="true">
                            </div>
                        </div>

                        <input name="type" type="hidden" class="form-control" aria-required="true" value="sql_exec">

                        <input name="sql" type="hidden" class="form-control" aria-required="true" value="yes">

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">紧急程度<span class="red-fonts">*</span></label>
                            <div class="col-sm-8 row">
                                {% for k,v in level.items %}
                                <div class="col-sm-3">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="{{ k }}" name="level">{{ v }}</label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上线原因<span class="red-fonts">*</span></label>
                            <div class="col-sm-8 row">
                                {% for k,v in reason.items %}
                                <div class="col-sm-3">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="{{ k }}" name="reason">{{ v }}</label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="detail" class="col-sm-2 control-label">工单说明<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <textarea name='detail' id='detail' class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                        <label for="pub_database_name" class="col-sm-2 control-label">数据库名称<span class="red-fonts ">*</span></label>
                           <div class="col-sm-8">
                           <select name="database_name" id="pub_database_name" class="form-control">
                           </select>
                           </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="sql_detail" class="col-sm-2 control-label">SQL详情</label>
                            <div class="col-sm-8">
                                <textarea name='sql_detail' class="form-control" rows="5" placeholder="适用于所有SQL语句的总字符数小于1000,否则请以附件的形式上传....."></textarea>
                            </div>
                        </div>
<!--
                        <div class="col-sm-offset-2">
                            <p style="font-size: 6px">&nbsp<i class="fa fa-exclamation-circle"></i> SQL中<strong style="color:red"> 必须 </strong>携带库名</p>
                        </div>
-->
                        <div class="form-group">
                            <div class="col-sm-8">
                                <input id="sql_file_url" name="sql_file_url" type="hidden" class="form-control" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="sql_attach" class="col-sm-2 control-label">SQL附件</label>
                            <div class="col-sm-8">
                                <span>仅支持<strong style="color:red">.txt</strong> 和 <strong style="color:red">.sql</strong> 文件</span>
                                <span>每次上传要选择需要上传的<strong style="color:red">全部</strong>文件</span>
                                <input id="fileupload" type="file" name="files[]" data-url="{% url 'workform_upload' %}" multiple="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="process-bar" class="col-sm-2 control-label"></label>
                            <div class="col-sm-8 progress" id="progress_file_upload">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-5">
                                <button id="sql_submit" class="btn btn-primary">提交</button>
                                <button class="btn btn-warning" type="reset">取消</button>
                                <button class="btn btn-info" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
$.getJSON("{% url 'get_database_name' %}",function(data){
    var str=''
        $.each(data,function(k,v){
        str += '<option value="'+v.name+'">'+v.name+'</option>'
    });
    $("#pub_database_name").append(str)
    $("#pub_database_name").multiselect('rebuild')
});

$("#pub_database_name").multiselect({
    enableFiltering: true,
    maxHeight: 200,
    buttonWidth: '100%',
    delimiterText: ' -> ',
    selectedClass: 'multiselect-selected',
    enableCaseInsensitiveFiltering: true,
});

$('#fileupload').click(function(){
    $(".file_already_upload,.files_upload_url").remove()
    $("#progress_file_upload .progress-bar").css('width',0).text('0%')
    $(" #sql_file_url").val('')
});

$('#fileupload').fileupload({
    dataType: 'json',
    done: function (e, data) {
        if(data.result.result==0){
            $.each(data.result.files, function (index, file) {
                $('#fileupload').after($("<p class='file_already_upload'/>").html(file.name+"&nbsp&nbsp").append($("<a target='_blank' class='files_upload_url'/>").attr("href",data.result.file_url).text("预览")));
                var links = []; 
                $(".files_upload_url").each(function(){
                    links.push($(this).attr('href'))
                }); 
                $("#sql_file_url").val(decodeURIComponent(links.join(';')))
            });
        }else{
            swal("OH,My God",data.result.msg,"error")
        }
    },    
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress_file_upload .progress-bar').css(
            'width',
            progress + '%'
        );
        $('#progress_file_upload .progress-bar').text(progress + '%');
    }
});

$("#sql_submit").click(function(){
    var str = $("#SqlAddForm").serialize()
    var url = "{% url 'workform_add' %}"
    $.post(url,str,function(data){
        if(data.result==0){
           swal({
                title: "Good Job",
                text: data.msg,
                type: "success",
                confirmButtonText:"确定"
                },
                function(){
                    location.href = "{% url 'workform_list' %}"
                }
            )
        }else{
            swal("Oh,My God",data.msg,"error")
        } 
    });
    return false
});

</script>
{% endblock %}
