{% extends "public/layout.html" %}

{% block breadcrumb %} 
工单管理 / <strong class="active">工单类型添加</strong>
{% endblock %}

{% block body %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>填写工单类型信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="WorkFormTypeAdd" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">名称<span class="red-fonts ">*</span></label>
                            <div class="col-sm-8">
                                <input name="name" placeholder="工单类型名称" type="text" class="form-control" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="cn_name" class="col-sm-2 control-label">中文名称<span class="red-fonts ">*</span></label>
                            <div class="col-sm-8">
                                <input name="cn_name" placeholder="工单类型中文名称" type="text" class="form-control" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="step_name_pre" class="col-sm-2 control-label">流程图<span class="red-fonts ">*</span></label>
                            <div class="col-sm-8">
                                <select name="step_name_pre" id="step_name_pre" multiple="multiple" class="form-control">
                                {% for step in process_step_list %}
                                    '<option value="{{ step.step_id }}">{{ step.step}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                                <input id="step_name" name="process_step_id" type="hidden" class="form-control" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-5">
                                <button id="submit" class="btn btn-primary">提交</button>
                                <button class="btn btn-warning" type="reset">取消</button>
                                <button class="btn btn-info" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>

var orderCount = 0;

$("#step_name_pre").multiselect({
    enableFiltering: true,
    maxHeight: 200,
    buttonWidth: '100%',
    delimiterText: ' -> ',
    selectedClass: 'multiselect-selected',
    enableCaseInsensitiveFiltering: true,
    onChange: function(option, checked) {
        if (checked) {
            orderCount++;
            $(option).data('order', orderCount);
        }else {
            $(option).data('order', '');
        }
    },
    buttonText: function(options) {
        if (options.length === 0) {
            $("#step_name").val('')
            return '请按照 "流程" 顺序,选择流程名称...';
        }else if (options.length > 8) {
            return options.length + ' selected';
        }else {
            var selected = [];
            options.each(function() {
                selected.push([$(this).text(), $(this).data('order'),$(this).val()]);
            });
            selected.sort(function(a, b) {
                return a[1] - b[1];
            });
            var text = '';
            var step_num = '';
            for (var i = 0; i < selected.length; i++) {
                text += selected[i][0] + ' -> ';
                step_num += selected[i][2] + ' -> ';
            }
            $("#step_name").val(step_num.substr(0, step_num.length - 4))
            return text.substr(0, text.length - 4);
        }
    },

});

$("#submit").click(function(){
    var str = $("#WorkFormTypeAdd").serialize()
    var url = "{% url 'workform_type_add' %}"
    $.post(url,str,function(data){
        if(data.result==0){
           swal({
                title: "Good Job",
                text: data.msg,
                type: "success",
                confirmButtonText:"确定"
                },
                function(){
                    location.href = "{% url 'workform_type_list' %}"
                }
            )
        }else{
            swal("Oh,My God",data.msg,"error")
        } 
    });
    return false
});

</script>
{% endblock %}
