{% extends "public/layout.html" %}

{% load get_approver_process_result %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/plugin/Bootstrap-Wizard-master/css/bwizard.min.css">
{% endblock %}

{% block breadcrumb %}
工单系统 / 工单列表
{% endblock %}

{% block body %} 

<div class="col-sm-12">
    <table class="table table-striped table-bordered table-hover">
        <caption>
            <div>
                <form class="form-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" style="float:right">搜索</button>
                    <div class="form-group" style="text-align:right;float: right;margin-right: 10px;">
                        <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="主题 | 模块名 | 详情">
                    </div>
                </form> 
            </div>
        </caption>  
        <thead>
            <tr>
                <th class="text-center">主题</th>
                <th class="text-center">申请人</th>
                <th class="text-center">紧急程度</th>
                <th class="text-center">类型</th>
                <th class="text-center">模块名称</th>
                <th class="text-center">是否有SQL</th>
                <th class="text-center">工单状态</th>
                <th class="text-center">待 审批/执行 流程</th>
                <th class="text-center">已 审批/执行 流程状态</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for pub in object_list %}
            <tr class="gradeX">
                <td class="text-center" style="vertical-align: middle"><strong>{{ pub.title|truncatechars:10 }}</strong></td>
                <td class="text-center" style="vertical-align: middle">{{ pub.applicant.userextend.cn_name }}</td>
                <td class="text-center" style="vertical-align: middle">
                    {% for i in level_range %}
                        {% if i >= pub.level %}
                        <span class="fa fa-star fa-fw" style="color: #F00"></span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="text-center" style="vertical-align: middle">{{ pub.type.cn_name }}</td>
                <td class="text-center" style="vertical-align: middle">{{ pub.module_name }}</td>

                {% if pub.sql == 'yes' %}
                    <td class="text-center" style="vertical-align: middle"><span class="badge label-primary">{{ pub.get_sql_display }}</span></td>
                {% else %}
                    <td class="text-center" style="vertical-align: middle"><span class="badge label-default">{{ pub.get_sql_display }}</span></td>
                {% endif %}

                {% if pub.status == '0' %}
                    <td class="text-center"><span class="badge label-primary">{{ pub.get_status_display }}</span></td>
                {% elif pub.status == '1' %}
                    <td class="text-center"><span class="badge label-success">{{ pub.get_status_display }}</span></td>
                {% elif pub.status == '2' %}
                    <td class="text-center"><span class="badge label-warnning">{{ pub.get_status_display }}</span></td>
                {% else %}
                    <td class="text-center"><span class="badge label-danger">{{ pub.get_status_display }}</span></td>
                {% endif %}

                <td class="text-center" style="vertical-align: middle">{{ pub.process_step.step }}</td>
                <td class="text-center" style="vertical-align: middle">{{ pub | get_approver_result|safe }}</td>
                <td class="text-center" style="vertical-align: middle">{{ pub.create_time|date:"Y-m-d H:i:s" }}</td>
                <td class="text-center" style="vertical-align: middle">
                    <button data-id="{{ pub.id }}" class="btn btn-sm btn-info workform_detail">详情</button>
                    <button data-id="{{ pub.id }}" class="btn btn-sm btn-primary process_trace">流程跟踪</button>
                    {% if user.is_superuser == 1 %}
                        <button data-id="{{ pub.id }}" data-del="{{ pub.title }}" class="btn btn-sm btn-danger del-btn">删除</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 列表分页 -->
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">总页数: {{ page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.number != 1 %}
                <li><a href={% url "workform_list" %}?page=1{{ search_uri }}>首页</a></li>
            {% else %}
                <li class="disabled"><a href="#">首页</a></li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li><a href={% url "workform_list" %}?page={{ page_obj.previous_page_number }}{{ search_uri }}>上一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">上一页</a></li>
            {% endif %}

            {% for page in page_range %}
               {% if page == page_obj.number %}
                  <li class="active"><a href={% url "workform_list" %}?page={{ page }}{{ search_uri }}>{{ page }}</a></li>
               {% else %}
                  <li><a href={% url "workform_list" %}?page={{ page }}{{ search_uri }}>{{ page }}</a></li>
               {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href={% url "workform_list" %}?page={{ page_obj.next_page_number }}{{ search_uri }}>下一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">下一页</a></li>
            {% endif %}
            
            {% if page_obj.number != page_obj.paginator.num_pages %}
                <li><a href={% url "workform_list" %}?page={{ page_obj.paginator.num_pages }}{{ search_uri }}>末页</a></li>
            {% else %}
                <li class="disabled"><a href="#">末页</a></li>
            {% endif %}

            <li class="disabled"><a href="#">总条数: {{ page_obj.paginator.count }}</a></li>
        </ul>
    </div>
    <!-- 分页结束 -->    


    <!-- 详情模态框 -->
    <div class="modal fade"  id ="WorkFormDetailModal">   
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">工单信息</h4>
                </div>
                <div class="modal-body">
                    <form id="WorkFormDetailForm" class="Formvalid form-horizontal nice-validator n-yellow" novalidate="novalidate">
                        {% csrf_token %}
                        <input type="hidden" name="id" id='id'>

                        <div class="form-inline row">  
                            <div class="form-group col-sm-12">
                                <label for="title" style="width:15%" class="control-label text-right">工单标题 <span class="red-fonts">*&nbsp</span></label>
                                <input id='title' name="title" style="width: 79%;" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="name" style="width:30%" class="control-label text-right ">工单类型 <span class="red-fonts ">*&nbsp</span></label>
                                &nbsp<input id='type' name="type" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="level" style="width:30%" class="control-label text-right">紧急程度 &nbsp</label>
                                <input id='level' name="level" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="applicant" style="width:30%" class="control-label text-right">申请人 <span class="red-fonts">*&nbsp</span></label>
                                &nbsp<input id="applicant" name="applicant" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="status" style="width:30%" class="control-label text-right">工单状态 &nbsp</label>
                                <input id="status" name="status" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row" id="module_name_div">  
                            <div class="form-group col-sm-12">
                                <label for="module_name" style="width:15%" class="control-label text-right">模块名称 <span class="red-fonts">*&nbsp</span></label>
                                <input id='module_name' name="module_name" style="width: 79%;" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">  
                            <div class="form-group col-sm-12">
                                <label for="detail" style="width:15%" class="control-label text-right">工单说明 <span class="red-fonts">*&nbsp</span></label>
                                <textarea id='detail' name="detail" style="width: 79%;" class="form-control" aria-required="true" rows="5"readonly>
                                </textarea>
                            </div>
                        </div>
                
                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row" id="sql_detail_div">
                            <div class="form-group col-sm-12">
                                <label for="sql_detail" style="width:15%" class="control-label text-right">SQL语句 &nbsp</label>
                                <textarea id="sql_detail" name="sql_detail" style="width:79%" class="form-control" aria-required="true" rows="5" readonly>
                                </textarea>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row" id="sql_file_url_div">
                            <div class="form-group col-sm-12">
                                <label for="sql_file_url" style="width:15%" class="control-label text-right">SQL附件 &nbsp</label>
                                <div style="width:79%" id="sql_file_url">
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="create_time" style="width:30%" class="control-label text-right">创建时间 &nbsp</label>
                                &nbsp<input id='create_time' name="create_time" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="complete_time" style="width:30%" class="control-label text-right">完成时间 &nbsp</label>
                                <input id='complete_time' name="complete_time" style="width:65%" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary exit-btn" data-dismiss="modal">退出</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 流程跟踪模态框 -->
    <div class="modal fade" id='ProcessTraceModal'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">流程跟踪</h4>
                </div>
                <div class="modal-body" style="padding: 20px 30px 0px 30px;">
                    <div class="container-fluid">
                        <div class="bwizard clearfix" style="text-align: center">
                            <ol class="bwizard-steps clearfix clickable" role="tablist" id="process_ul">
                            </ol>
                            <div class="well row" style="background-color: white;border: none;">
                                <h2 style="margin-bottom: 20px;margin-top:2px" id="process_head"></h2>
                                <form class="form-horizontal col-sm-offset-2" id="ProcessTraceForm" style="margin-bottom: 0px;text-align:center">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="approver" class="col-sm-2 control-label  ">审批/执行人</label>
                                        <div class="col-sm-6">
                                            <input id="approver" name="approver" type="text" class="form-control" aria-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="result" class="col-sm-2 control-label">审批/执行结果</label>
                                        <div class="col-sm-6">
                                            <input id="result" name="result" type="text" class="form-control" aria-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="approval_note" class="col-sm-2 control-label">审批意见</label>
                                        <div class="col-sm-6">
                                            <textarea id="approval_note" name="approval_note" class="form-control" aria-required="true" rows="3">
                                            </textarea>
                                        </div>
                                    </div> 

                                    <div class="form-group">
                                        <label for="approval_time" class="col-sm-2 control-label">审批/执行时间</label>
                                        <div class="col-sm-6">
                                            <input id="approval_time" name="approval_time" type="text" class="form-control" aria-required="true">
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary exit-btn" data-dismiss="modal">退出</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
 
    <!-- 删除模态框 -->
    <div class="modal fade" id='DeleteModal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p id="data-del"></p>
                    <p style="color:red"><b>你确认要删除吗?</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-warning del-sure" data-id=''>确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

{% endblock %}

{% block js %}
<script>

<!--详情-->
$(".workform_detail").click(function(){
    $("#sql_file_url_div").removeAttr('style')
    $("#sql_detail_div").removeAttr('style')
    $("#module_name_div").removeAttr('style')
    $("#sql_file_url p").remove()
    var id = $(this).attr("data-id")
    var url = "{% url 'workform_info' %}?id="+id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data.wf_info
            console.log(data)
            $("#id").val(data.id)
            $("#title").val(data.title)
            $("#detail").val(data.detail)
            $("#type").val(data.type_id)
            if(data.type=='publish'){
                $("#module_name").val(data.module_name)
            }else if(data.type=='rollback'){
                $("#module_name").val(data.module_name)
            }else{
                $("#module_name").val('')
                $("#module_name_div").attr('style','display:none')
            };
            $("#level").val(data.level)
            $("#status").val(data.status)
            $("#applicant").val(data.applicant)
            $("#create_time").val(data.create_time)
            $("#complete_time").val(data.complete_time)
            if(data.sql=='yes'){
                if(data.sql_file_url){
                    var files=data.sql_file_url.split(';')
                    $.each(files,function(k,v){
                        var file_name_list=v.split('/')
                        $('#sql_file_url').append($("<p style='text-indent: 20%' />").html(file_name_list.pop() + "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp").append($("<a target='_blank' />").attr("href",v).text("预览")));
                    });
                }else{
                    $("#sql_file_url_div").attr('style','display:none')
                };

                if(data.sql_detail){
                    $("#sql_detail").val(data.sql_detail)
                }else{
                    $("#sql_detail").val('')
                    $("#sql_detail_div").attr('style','display:none')
                };

            }else if(data.sql=='no'){
                $("#sql_detail").val('')
                $("#sql_file_url_div").attr('style','display:none')
                $("#sql_detail_div").attr('style','display:none')
            };
            $("#WorkFormDetailModal").modal("show")
        }else{
            swal("OH,My God",data.msg,"error")
        }
    });
});

<!--流程跟踪-->
$(document).on("click",".process_trace",function(){
    var id = $(this).attr("data-id")
    var url = "{% url 'process_trace' %}"
    $.post(url,{"id":id},function(data){
        if(data.result==0){
            data = data.process_list
            var str = ''
            $.each(data,function(k,v){
                if(v.result){
                    str += '<li role="tab" aria-selected="false" class="active">'
                    str += '<span class="label badge-inverse">'+ k + '</span>'
                    str += '<a href="#" class="process_step_trace" data-id="' + v.id + '">' + v.process + '</a></li>'
                    $("#process_head").text(v.process)
                    $("#approver").val(v.approver)
                    $("#result").val(v.result)
                    $("#approval_note").val(v.approve_note)
                    $("#approval_time").val(v.approve_time)
                }else{
                    str += '<li role="tab" aria-selected="true">'
                    str += '<span class="label badge-inverse">'+ k + '</span>'
                    str += v.process + '</li>'
                }
            });
            $("#process_ul").html(str)
            $("#ProcessTraceModal").modal("show")
        }else{
            swal("OH,My God",data.msg,"error")
        }; 
    });
    return false;
});


$(document).on("click",".process_step_trace",function(){
    var id = $(this).attr("data-id")
    var url = "{% url 'process_step_approval' %}?id=" + id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data["approval_info"]
            $("#process_head").text(data.process)
            $("#approver").val(data.approver)
            $("#result").val(data.result)
            $("#approval_note").val(data.approve_note)
            $("#approval_time").val(data.approve_time) 
        }else{
            swal("OH,My God",data.msg,"error")
        }
    });
});

<!--删除-->
$(".del-btn").click(function(){
    var id = $(this).attr("data-id")
    var data = $(this).attr("data-del")
    $(".del-sure").attr('data-id',id)
    $("#data-del").html(data)
    $("#DeleteModal").modal("show")
});

$(".del-sure").click(function(){
   var id = $(this).attr('data-id')
   var url = "{% url 'workform_delete' %}"
   $('#DeleteModal').modal('hide')
   $.post(url,{"id": id},function(data){
       if(data.result==0){
           swal({
             title:"Good",
             text:data.msg,
             type:'success',
             confirmButtonText:"确定"
             },
             function(){
                location.reload()
           })
       }else{
            swal("OH,My God",data.msg,"error")
       };
   });
   return false;
});

</script>

{% endblock %}
