{% extends "public/layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/plugin/AdminLte/css/ionicons.min.css">
<link rel="stylesheet" href="/static/plugin/AdminLte/css/_all-skins.min.css">
<link rel="stylesheet" href="/static/plugin/AdminLte/css/AdminLTE.min.css">
{% endblock %}

{% block breadcrumb %}
dashboard
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="server_count"></h3>
                <p>服务器总数</p>
            </div>
            <div class="icon" style="top: 2px">
                <i class="ion ion-social-tux"></i>
            </div>
            <div id="server_compared_with_yesterday" class="small-box-footer" style="text-align: left;text-indent: 10px;">
                <span >相比昨日增加: </span>
                <a href="{% url 'server_aliyun_list' %}" style="float:right; margin-right: 10px;color: #eee;">详情 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="cmdb_count"></h3>
                <p>应用总数</p>
            </div>
            <div class="icon" style="top: 2px">
                <i class="ion ion-social-android-outline"></i>
            </div>
            <div id="cmdb_compared_with_yesterday" class="small-box-footer" style="text-align: left;text-indent: 10px;">
                <span >相比昨日增加: </span>
                <a href="{% url 'cmdb_list' %}" style="float:right; margin-right: 10px; color: #eee">详情 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
          <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="pub_count">{{ workform_count_today }}</h3>
                <p>今日工单总数</p>
            </div>
            <div class="icon" style="top: 2px">
                <i class="ion ion-settings"></i>
            </div>
            <div id="pub_compared_with_yesterday" class="small-box-footer" style="text-align: left;text-indent: 10px;">
                <span >相比昨日增加: 2 </span>
                <a href="{% url 'cmdb_list' %}" style="float:right; margin-right: 10px; color: #eee">详情 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3 id="alarm_count">65</h3>
                <p>告警总数</p>
            </div>
            <div class="icon" style="top: 2px">
                <i class="ion ion-android-notifications-none"></i>
            </div>
            <div id="alarm_compared_with_yesterday" class="small-box-footer" style="text-align: left;text-indent: 10px;">
                <span >相比昨日增加: 10</span>
                <a href="#" style="float:right; margin-right: 10px; color: #eee">详情 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:18px">
                <i class="fa fa-database"></i> 运维工单周统计
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <div id="workform_chart_by_type" style="height:200px;width:300px;margin: auto;"></div>
                </div>                                                                                  
                <div class="col-lg-4">
                    <div id="workform_chart_by_reason" style="height:200px;width:300px;margin: auto;"></div>
                </div>                                                                                  
                <div class="col-lg-4">
                    <div id="workform_chart_by_module" style="height:200px;width:300px;margin: auto;"></div>
                </div>                                                                                  
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>

$.getJSON("{% url 'get_server_statistic' %}",function(data){
    $("#server_count").text(data.count)
    $("#server_compared_with_yesterday span").append(data.compared_with_yesterday)
});

$.getJSON("{% url 'get_cmdb_statistic' %}",function(data){
    $("#cmdb_count").text(data.count)
    $("#cmdb_compared_with_yesterday span").append(data.compared_with_yesterday)
});

var WorkFormChartByType = echarts.init(document.getElementById('workform_chart_by_type'),'light');
var WorkFormChartByReason = echarts.init(document.getElementById('workform_chart_by_reason'),'light');
var WorkFormChartByModule = echarts.init(document.getElementById('workform_chart_by_module'),'light');

var option = {
    title: {
        text: '',
        left: 'center',
        textStyle: {
            fontSize: 10,
        },
    },
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    <!--color: ['#00a65a','#d2d6de','#00c0ef','#39cccc','#f39c1','#605ca8','#ff851b'],-->
    series: [
        {
            name:'',
            type:'pie',
            radius: ['30%', '60%'],
            data:[]
        }
    ]
};


WorkFormChartByType.setOption(option);
WorkFormChartByReason.setOption(option);
WorkFormChartByModule.setOption(option);

WorkFormChartByType.setOption({
    title:{
        text: '工单类型统计',
    },
    series: [
        {
            name: '类型',
            data: {{ workform_type_echart_data |safe }},
        },
    ]
});

WorkFormChartByReason.setOption({
    title:{
        text: '发布/SQL上线原因统计',
    },
    series: [
        {
            name: '原因',
            data: {{ workform_reason_echart_data |safe }},
        },
    ]
});

WorkFormChartByModule.setOption({
    title:{
        text: '发布模块TOP10统计',
    },
    series: [
        {
            name: '模块',
            data: {{ workform_module_echart_data |safe }},
        },
    ]
});
</script>
{% endblock %}
