{% extends "public/layout.html" %}

{% block breadcrumb %} 
    发布系统 / <strong class="active">自动化发布</strong>
{% endblock %}

{% block css %}
<style>
    pre {color: #23c6c8;}
</style>
{% endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 25px;">
            <i class="fa fa-fire"></i> 应用发布与回滚
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <legend><i class="fa fa-hand-o-down"></i> 发布配置</legend>
                    <form id="PubForm" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate" style="margin-left: 0px;width:98%">
                        {% csrf_token %}
                        <div class="form-group" style="margin-left: 0px;">
                            <label for="type" class="control-label text-right">操作类型<span class="red-fonts ">*</span></label>
                            <select name="type" id="type" class="form-control">
                                <option value='' selected="selected">请选择......</option>
                                <option value='publish'>发布</option>
                                <option value='rollback'>回滚</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 0px;">
                            <label>环境类型</label> 
                            <select class="form-control" name="env" id="env">
                                <option value="" selected="selected">请选择...</option>
                                <option value="online">生产</option>
                                <option value="gray">预发布</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 0px;">
                            <label>发布模块</label>
                            <select class="form-control choices" name="module_name" id="module_name">
                                <option id="module_name_noselect_id" value="">请选择...</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 0px;">
                            <label>版本号</label>
                            <select class="form-control" name="version" id="version">
                                <option id="version_noselect_id" value="">请选择...</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 0px;">
                            <label>服务器IP</label>
                            <select class="form-control choices" name="ip" id="ip" multiple="multiple">
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 0px;">
                            <div class="col-sm-offset-4">
                                <button id="pub_exec" class="btn btn-warning">执行</button>
                                <button class="btn btn-primary" type="reset">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-8">
                    <legend><i class="fa fa-hand-rock-o"></i> 执行结果</legend>
                    <div style="background-color:black;bottom:36px;height:calc(100vh - 200px);resize:none;overFlow-x:scroll;overFlow-y:scroll">
                        <div id="result" style="margin-left: 25px;margin-right: 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<script>
var module_name_online = {{ module_name_online | safe}}
var module_name_gray = {{ module_name_gray | safe }}

$(".choices").multiselect({
    enableFiltering: true,
    maxHeight: 200,
    buttonWidth: '100%',
    nonSelectedText: '请选择 IP 地址',
    delimiterText: ',',
    selectedClass: 'multiselect-selected',
    enableCaseInsensitiveFiltering: true,
    disableIfEmpty: true,
});

$("#env").change(function(){
    $("#module_name option[id!='module_name_noselect_id']").remove()
    $("#ip option").remove()
    var env_str = $(this).val()
    var module_name_str = ''
    if(env_str=='online'){
        $.each(module_name_online,function(k,v){
            module_name_str += '<option value='+v.id+'>'+v.name+'</option>'
        });
    }else if(env_str=='gray'){
        $.each(module_name_gray,function(k,v){
            module_name_str += '<option value='+v.id+'>'+v.name+'</option>'
        });
    }
    $("#module_name_noselect_id").after(module_name_str)
    $("#module_name").multiselect('rebuild')
    $("#ip").multiselect('rebuild')
});

$("#module_name").change(function(){
    $("#ip option[id!='ip_noselect_id']").remove()
    var module_name_id = $(this).val()
    var url = "{% url 'get_server_ips' %}"
    if(module_name_id){
        $.post(url,{"cmdb_id":module_name_id},function(data){
            ip_str = ''
            $.each(data,function(k,v){
                ip_str += '<option value='+v.id+'>'+v.private_ip+'</option>'
            });
            $("#ip").append(ip_str)
            $("#ip").multiselect('rebuild')
        })
        return false
    }else{
        $("#ip option").remove()
        $("#ip").multiselect('rebuild')
    }
});

$("#type,#module_name").change(function(){
    $("#version option[id!='version_noselect_id']").remove()
    var module_name_id = $("#module_name").val()
    var type = $("#type").val()
    var url = "{% url 'get_publish_version' %}"
    if(module_name_id && type){
        $.post(url,{"cmdb_id":module_name_id,"type":type},function(data){
            version_str = ''
            if(data.result==0){
                data = data.version_list
                $.each(data,function(k,v){
                    version_str += '<option value='+v.id+'>'+v.version+'---'+v.pack_user+'---'+v.status+'</option>'
                });
                $("#version_noselect_id").after(version_str)
            }
        })
        return false;
    }
});

$("#ip").change(function(){
    $("#pub_exec").prop("disabled",false)
});

$("#pub_exec").click(function(){
    $(this).prop("disabled",true)
    var url = "{% url 'exec_ansible_playbook' %}"
    var str = $("#PubForm").serialize()
    if($("#module_name").val()&&$("#type").val()&&$("#env").val()&&$("#ip").val()&&$("#version").val()){
        $.post(url,str,function(data){
            if(data.result == 0){
                $("#result").val(data.msg)
                cron_id=setInterval(function(){
                    var url_str = url + '?ansible_log_file=' + data.ansible_log_file + '&shell_pid=' + data.shell_pid + '&ph_id=' + data.ph_id
                    $.getJSON(url_str,function(data_1){
                        if(data_1.shell_returncode==0){
                            $("#result").html(data_1.ansible_log);
                        }else{
                            $("#result").html(data_1.ansible_log);
                            clearInterval(cron_id);
                            if(data_1.errcode==1){
                                swal("OH,My God","执行ansible-playbook脚本异常,请运维检查...","error")
                            }
                        };
                    });
                },1000);
            }else{
                swal("OH My God",data.msg,"error")
            }; 
        })
        return false
    }else{
        swal("OH,My God","请填写必填项","error")
    }
});
</script>
{% endblock %}
