{% extends "public/layout.html" %}

{% block breadcrumb %}
Error Page
{% endblock %}

{% block body %}
    <h1><p class="text-center">操作失败,3s后会自动跳转</p></h1>
    <h3><p class="text-center" style="color:red">抱歉，你没有权限，请联系运维人员</p></h3>
{% endblock %}

{% block js %}
    <script>
        var next_url = "{{ next_uri }}";
        if (next_url == ""){
            next_url = "/"
        }
        $(function(){
            setTimeout(function(){
                window.location.href = next_url;
            }, 3000)
        })
    </script>
{% endblock %}
