{% extends "public/layout.html" %}

{% block breadcrumb %}

资产管理 / <strong class="active">IDC 管理</strong>

{% endblock %}

{% block body %}

<!-- IDC列表 -->
<table class="table table-striped table-bordered table-hover " id="idc_list_table">
<caption>
    <a href="{% url 'idc_add' %}" class="btn btn-sm btn-primary "> 添加 IDC</a> 
    </br>
</caption>
<thead>
    <tr>
        <th class="text-center">序号</th>
        <th class="text-center">简称</th>
        <th class="text-center">中文全称</th>
        <th class="text-center">联系人</th>
        <th class="text-center">电话</th>
        <th class="text-center">邮箱</th>
        <th class="text-center">地址</th>
        <th class="text-center">操作</th>
    </tr>
</thead>
<tbody>
   {% for idc in object_list %}
        <tr class="gradeX">
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ idc.name }}</td>
                <td class="text-center">{{ idc.cn_name }}</td>
                <td class="text-center">{{ idc.user }}</td>
                <td class="text-center">{{ idc.phone }}</td>
                <td class="text-center">{{ idc.email }}</td>
                <td class="text-center">{{ idc.address }}</td>
                <td class="text-center">
                    <button data-id="{{ idc.id }}" class="btn btn-info btn-sm update_btn">编辑</button>
                    <button data-id="{{ idc.id }}" class="btn btn-sm btn-danger del_btn">删除</button>
                </td>
         </tr>
    {% endfor %}
 </tbody>
 </table>
<!-- IDC列表结束-->

<!-- 列表分页 -->
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">总页数: {{ page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.number != 1 %}
                <li><a href={% url "idc_list" %}?page=1>首页</a></li>
            {% else %}
                <li class="disabled"><a href="#">首页</a></li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li><a href={% url "idc_list" %}?page={{ page_obj.previous_page_number }}>上一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">上一页</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
               {% if page == page_obj.number %}
                  <li class="active"><a href={% url "idc_list" %}?page={{ page }}>{{ page }}</a></li>
               {% else %}
                  <li><a href={% url "idc_list" %}?page={{ page }}>{{ page }}</a></li>
               {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href={% url "idc_list" %}?page={{ page_obj.next_page_number }}>下一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">下一页</a></li>
            {% endif %}

            {% if page_obj.number != page_obj.paginator.num_pages %}
                <li><a href={% url "idc_list" %}?page={{ page_obj.paginator.num_pages }}>末页</a></li>
            {% else %}
                <li class="disabled"><a href="#">末页</a></li>
            {% endif %}

            <li class="disabled"><a href="#">总条数: {{ page_obj.paginator.count }}</a></li>
        </ul>
    </div>
<!-- 分页结束 -->

<!--更新模态框-->
<div class="modal fade"  id ="UpdateModal">   
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">更新IDC信息</h4>
                </div>
                <div class="modal-body">
                    <form id="UpdateForm" class="Formvalid form-horizontal nice-validator n-yellow" novalidate="novalidate" readonly="readonly">
                        {% csrf_token %}
                        <input type="hidden" name="id" id='id'>
                        <input type="hidden" name="name" id='name'>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="cn_name" class="col-sm-4 control-label text-right">中文全称<span class="red-fonts">*</span></label>
                                <input id="cn_name" name="cn_name" placeholder="cn_name" type="text" class="form-control" aria-required="true" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="user" class="col-sm-4 control-label text-right ">联系人</label>
                                <input id="user" name="user" placeholder="user" type="text" class="form-control" aria-required="true">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="phone" class="col-sm-4 control-label text-right">电话</label>
                                <input name="phone" id="phone" class="form-control" type="text" aria-required="true">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email" class="col-sm-4 control-label text-right ">邮箱</label>
                                <input id="email" name="email" placeholder="email" type="text" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-12">
                                <label for="address" class="col-sm-2 control-label text-right">地址<span class="red-fonts">*</span></label>
                                <input name="address" style="width: 68%;" id="address" class="form-control" type="text" aria-required="true">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn_sub"  id="idc_update_btn" >更新</button>
                    <button class="btn btn-warning exit-btn" data-dismiss="modal">退出</button>
                    <button class="btn btn-info btn_reset" type="reset">重置</button>
                </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 删除 IDC 模态框-->
<div class="modal fade" id='DeleteModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
        <p style="color:red"><b>你确认要删除吗?</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-warning del-sure" data-id=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--删除模态框结束-->

{% endblock %}


{% block js %}

<script>

<!--更新-->
$(".update_btn").click(function(){
    var id = $(this).attr("data-id")
    var url = "{% url 'idc_change' %}?id="+id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data.idc_info
            $("#id").val(data.id)
            $("#name").val(data.name)
            $("#cn_name").val(data.cn_name)
            $("#user").val(data.user)
            $("#phone").val(data.phone)
            $("#email").val(data.email)
            $("#address").val(data.address)
        }else{
            swal("Oh,MyGod",data.msg,"error")
        } 
    });
    $("#UpdateModal").modal("show")
});

$("#idc_update_btn").click(function(){
    var url = "{% url 'idc_change' %}"
    var str = $("#UpdateForm").serialize()
    $("#UpdateModal").modal("hide")
    $.post(url,str,function(data){
        if(data.result==0){
           swal({
             title:"Good",
             text:data.msg,
             type:'success',
             confirmButtonText:"确定"
             },
             function(){
                location.reload()
           })
       }else{
            swal("OH,My God",data.msg,"error")
       }; 
    });
    return false
});

<!--删除-->
$(".del_btn").click(function(){
    var idc_id = $(this).attr('data-id')
    $("#DeleteModal").modal('show')
    $(".del-sure").attr('data-id',idc_id)
});

$(".del-sure").click(function(){
    var idc_id = $(this).attr('data-id')
    var url = "{% url 'idc_delete' %}?id=" + idc_id
    $("#DeleteModel").modal('hide')
    $.getJSON(url,function(data){
        if(data['result']==0){
                swal({
                    title: "Good",
                    type: "success",
                    text: data['msg'],
                    confirmButtonText: "确定"
                    },
                    function(){
                        location.reload()
                    }
                )
            }else{
                swal("Oh,MyGod",data['msg'],"error")
            } 
    });
});

</script>

{% endblock %}
